.benefits {
  @include display-flex();
  // background: linear-gradient(to right, #0ac4f9, #0c9fda);
  background-color: #f4f4f4;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%230C9FDA' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23F4F4F4' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23ebf1f4' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23e3eef5' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23daecf5' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23d1e9f5' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23c8e6f6' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23bfe3f6' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23b5e0f6' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23abddf7' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a1dbf7' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%2396d8f7' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%238ad5f8' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%237ed2f8' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%2371cff8' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%2362ccf8' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%2350caf9' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%2339c7f9' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%230AC4F9' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  border-top: 5px solid #3c418a;
  border-bottom: 5px solid #3c418a;
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  flex-direction: column;
  width: 100%;
  min-height: 80vh;
  padding: 80px 0;

  .container-benefits {
    @include display-flex();
    gap: 2rem;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    padding: 0 2rem;
  }
}

.card-benefits {
  @include display-flex(flex-start);
  background-image: linear-gradient(#4043a4, #3c418a);
  flex-direction: column;
  gap: 1rem;
  max-width: 250px;
  width: 100%;
  padding: 2rem 1rem;
  height: 370px;
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  transition: 0.2s;

  img {
    transform-style: preserve-3d;
    transform: translateZ(20px);
  }

  h2 {
    font-size: 1rem;
    text-align: center;
    // background-color: beige;
    transform-style: preserve-3d;
    transform: translateZ(20px);
  }

  div {
    @include display-flex();
    flex-direction: column;
    gap: 0.5rem;
    transform-style: preserve-3d;
    transform: translateZ(20px);
  }

  p,
  li {
    font-size: 0.9rem;
    transform-style: preserve-3d;
    transform: translateZ(20px);
    line-height: 1.3rem;
  }
}

@media (max-width: 375px) {
  .benefits {
    .container-benefits {
      padding: 0 1rem;
    }
  }
}
