.header {
  @include display-flex();
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #070708;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
  z-index: 999;

  .container-header {
    @include display-flex(space-between);
    width: 100%;
    max-width: 1200px;
    height: 80px;
    padding: 0 2rem;

    h1 {
      font-size: 1.5rem;
    }
  }
}

.navbar {
  @include display-flex();

  .button-menu {
    @include display-flex();
    display: none;
    height: 25px;
    position: relative;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      transform: scale(1.1);
    }

    .lines {
      @include line();
      transition: 0.4s;

      &::before {
        content: '';
        @include line();
        position: absolute;
        top: 0;
        transition: 0.4s;
      }

      &::after {
        content: '';
        @include line();
        position: absolute;
        bottom: 0;
        transition: 0.4s;
      }
    }
  }

  .options-menu {
    @include display-flex(space-between);
    gap: 2rem;

    li {
      font-size: 1.3rem;
      position: relative;

      a::after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        bottom: -7px;
        left: 0;
        background-color: #fff;
        transition: 0.4s;
      }

      a:hover::after {
        width: 100%;
      }
    }
  }
}

.navbar.mobile {
  .button-menu {
    display: flex;
  }

  .options-menu {
    display: none;
  }

  .options-menu.mobile.active {
    @include display-flex();
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    padding: 2rem;
    background-color: #070708;

    li {
      font-size: 2rem;
    }
  }
}

.navbar {
  .button-menu.active {
    .lines {
      background-color: transparent;

      &::before {
        transform: rotate(45deg);
        top: 10px;
      }

      &::after {
        transform: rotate(-45deg);
        top: 10px;
      }
    }
  }
}

@media (max-width: 375px) {
  .header {
    .container-header {
      padding: 0 1rem;
    }
  }
}
